{% extends 'base.html.twig' %}
{% block title %}New Offre{% endblock %}

{% block body %}
     <div class="col-sm-12">
     <nav aria-label="breadcrumb">
   <ol class="breadcrumb">
      <li class="breadcrumb-item" ><a  href="{{ path('candidature_show', {'id': candidat.id} ) }}" >{{candidat.REF}} </a></li>
      <li class="breadcrumb-item  active" aria-current="page">Modifier</li>
   </ol>
</nav>
        <div class="card">
                     <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                           <h4 class="card-title">Modifier Candidature </h4>
                        </div>
                    </div>
                    <div class="card-body">          

                                 {% for message in app.flashes('warning') %}
                        <div class="alert alert-warning">
                            {{ message }}
                        </div>
                    {% endfor %} 
                     {{ include('candidat/_formedit.html.twig') }}
                    </div>
                </div>
            </div>
           
        </div>
    
{% endblock %}

