{% extends 'base.html.twig' %}
{% block title %}New Offre{% endblock %}

{% block body %}
         <div class="row no-gutters height-self-center">
            <div class="col-sm-12 text-center align-self-center">
               <div class="mm-error position-relative">
                      <img src="{{asset('assets/file/check2.jpg')}}" class="img-fluid mm-error-img mm-error-img-dark mx-auto" alt="">

                     <img src="{{asset('assets/file/check2.jpg')}}" class="img-fluid mm-error-img" alt="">
                     <h2 class="mb-0 mt-4">Votre candidature  a bien été  envoyée avec succès</h2>
              </div>
            </div>
         </div>
    
{% endblock %}

