{% extends 'base.html.twig' %}

{% block title %}Nouveau Utilisateur{% endblock %}

{% block body %}
         <div class="col-sm-12">
                 <nav aria-label="breadcrumb">
   <ol class="breadcrumb">
      <li class="breadcrumb-item" ><a  href="{{ path('user_index' ) }}" >Utulisateurs</a></li>
    
      <li class="breadcrumb-item active" aria-current="page">Nouveau utulisateurs  </li>
   </ol>
</nav>
        <div class="card">
                     <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                           <h4 class="card-title">Nouveau utulisateurs </h4>
                        </div>
                    </div>
                    <div class="card-body">

    {{ include('user/_form.html.twig') }}
  </div>
    </div>
    </div>
    <a href="{{ path('user_index') }}">Retour à la liste </a>
{% endblock %}
